/* .header{
  height: 10vh;
  min-height: 10vh;
  max-height: fit-content;
}
.hero{
  height: fit-content;
  min-height: 90vh;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */