@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
.player{
    width: 500px;
    height: 500px;
}
.tab{
    flex: 1;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    border: 1px solid rgb(101, 101, 184);
    border-radius: 5px;
    background-color: white;
    color: black;
}
.activeTab{
    background-color: blue;
    color: white;
    border: 1px solid blue;
}
@media screen and (max-width:768px){
    .signup{
        flex-direction: column;
    }
    .player{
        width: 350px;
        height:350px;
    }
    .player-container{
        width: 95%;
        margin: 0 auto;
    }

    .signup-form{
        width: 90%;
        margin: 10px auto;
    }

}